.darktalk {
  display: flex;

  align-items: center;
  flex-direction: column;
  justify-content: center;

  transition: 200ms opacity;

  inset: 0;
  overflow: auto;
  padding: 20px;
  position: fixed;

  z-index: 100;
}

.darktalk + .darktalk {
  transition: ease 1s;
}

.darktalk .page {
  border-radius: 3px;
  background: #101010;
  box-shadow: 0 4px 23px 5px rgb(0 0 0 / 20%), 0 2px 6px rgb(0 0 0 / 15%);
  color: white;
  min-width: 400px;
  padding: 0;
  position: relative;
  z-index: 0;
}

@media only screen and (width <= 500px) {
  .darktalk .page {
    min-width: 0;
  }
}

.darktalk .progress {
  display: block;
  width: 100%;
}

.darktalk .page header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 500px;

  user-select: none;
  color: white;
  font-size: 120%;
  font-weight: bold;
  margin: 0;
  padding: 14px 17px;
}

.darktalk .page .content-area {
  overflow: hidden;
  text-overflow: ellipsis;

  padding: 6px 17px;
  position: relative;
}

.darktalk .page .action-area {
  padding: 14px 17px;
}

button {
  font-family: "Ubuntu", "Arial", sans-serif;
}

.darktalk button,
.darktalk .darktalk {
  min-height: 2em;
  min-width: 4em;
}

.darktalk button {
  appearance: none;
  user-select: none;
  box-shadow: 0 1px 0 rgb(0 0 0 / 8%), inset 0 1px 2px rgb(255 255 255 / 75%);
  color: #444;
  font: inherit;
  margin: 0 1px 0 0;
  text-shadow: 0 1px 0 rgb(240 240 240);
}

.darktalk button::-moz-focus-inner {
  border: 0;
}

.darktalk button:enabled:active {
  background-image: linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
  box-shadow: none;
  text-shadow: none;
}

.darktalk .page .button-strip {
  display: flex;

  flex-direction: row;
  justify-content: flex-end;
}

.darktalk .page .button-strip > button {
  margin-left: 10px;
  border-radius: 0.5rem;
}

.darktalk input {
  width: 100%;
  border: 1px solid #bfbfbf;
  border-radius: 2px;
  box-sizing: border-box;
  color: #444;
  font: inherit;
  margin: 0;
  min-height: 2em;
  padding: 3px;
  outline: none;
}

.darktalk button:enabled:focus,
.darktalk input:enabled:focus {
  transition: border-color 200ms;
  border-color: rgb(77 144 254);
  outline: none;
}
